# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# uv / venv
.venv/
venv/
uv.lock

# tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/

# coverage
.coverage
coverage.xml
htmlcov/

# OS / editor
.DS_Store
.idea/
.vscode/
